/** @format */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/********** Global Rules **********/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 0.8rem;
}
::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 0.8rem;
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 0.8rem;
}
:-moz-placeholder {
	/* Firefox 18- */
	font-size: 0.8rem;
}

.control {
	margin-bottom: 1rem;
	color: #1c1e21;
}

.control label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 14px;
	font-weight: bold;
	color: #222;
}

.control label#filePicker-label,
.control textarea,
.control input {
	display: inline-flex;
	font-size: 1rem;
	height: 2.3em;
	justify-content: flex-start;
	line-height: normal;
	padding: 6px 7px;
	align-items: center;
	background-color: #fff;
	width: 100%;
	box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
	border: 1px solid #a6a6a6;
	border-top-color: #949494;
	transition: 0.4s;
}

.control input::hover {
	outline: none;
	border: 1px solid rgb(220, 227, 232);
}

.control input:focus,
.control input:active {
	outline: 0 !important;
	border-color: #0a66c2;
	box-shadow: 0 0 3px 2px rgb(14 118 168/ 50%);
}

.control label#touched.invalid,
.control textarea.is-invalid,
.control textarea.touched.invalid,
.control input.is-invalid,
.control input.touched.invalid {
	border-color: red;
	background: #ffc2c2;
	box-shadow: none;
	transition: 0.3s;
}

.actions {
	margin-top: 1.5rem;
}
p.option {
	border-bottom: 1px solid #a6a6a6;
	text-align: center;
	font-weight: bold;
	margin-top: 1.813rem !important;
	font-size: 12.5px !important;
	line-height: 1.5 !important ;
}

.control label.error,
.error {
	width: 100%;
	color: red;
	/* color: #ff9700; */
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}
