/** @format */

.input {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.input label {
	font-weight: bold;
	margin-right: 1rem;
}

.input input {
	width: 68px;
	height: 35px;
	padding-left: 5px;
	border: 1px solid;
	outline: none;
}

.input input:focus {
	outline: 0 !important;
}
